/* Navigation Colors */
/* Navigation */
/* line 14, ../sass/navigation.scss */
.navbar-default {
  overflow: hidden;
  padding: 0;
  height: 60px;
  border: none;
  border-radius: 5px;
  background: white;
}
/* line 23, ../sass/navigation.scss */
.navbar-default .navbar-brand {
  padding: 16px 25px;
  height: 60px;
  color: #999999;
  font-size: 28px;
  line-height: 28px;
}
/* line 32, ../sass/navigation.scss */
.navbar-default .navbar-nav li {
  margin-left: 1px;
}
/* line 34, ../sass/navigation.scss */
.navbar-default .navbar-nav li a {
  padding: 22px 25px;
  height: 60px;
  color: #999999;
  font-size: 16px;
  line-height: 19px;
}
/* line 53, ../sass/navigation.scss */
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:focus > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:focus > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active:focus > a:focus,
.navbar-default .navbar-nav > li.active:hover > a:focus,
.navbar-default .navbar-nav > li:hover > a:focus,
.navbar-default .navbar-nav > li:focus > a:focus {
  background-color: #52b6ec;
  color: white;
}
