@import "compass/css3";

$slider-font-color: #fff;
$main-image-height: 300px;

.main-image {
  padding: 100px 0;
  background-image: url(../images/source.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}



#custom-slider {
  .carousel {
    margin-bottom: 60px;
    .item {
      height: $main-image-height;
      background-color: #555;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: main-image-height;
    }
  }

  .carousel-caption {
    z-index: 10;
  }
}

#main-slider {
  .carousel {
    height: $main-image-height;
    color: $slider-font-color;

    .item {
      @include transition(opacity ease-in-out 500ms);
      position: absolute;
      top: 0;
      left: 0 !important;
      z-index: 1;
      display: block !important;
      width: 100%;
      opacity: 0;

      .carousel-caption {
        text-align: center;
      }
    }

    .item:first-child {
      position: relative;
      top: auto;
    }

    .item.active {
      z-index: 2;
      opacity: 1;
    }

    .prev,
    .next {
      position: absolute;
      top: 50%;
      z-index: 5;
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.3);
      color: $slider-font-color;
      text-align: center;
      font-size: 24px;
      line-height: 55px;
    }

    .prev {
      left: 10px;
    }

    .next {
      right: 10px;
    }
 
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

