<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">

    <!-- CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link href="stylesheets/contents.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <title>contents</title>
  </head>
  <body>
    <div class="container">
      <h1>カラム</h1>
      <div class="row">
        <div class="col-md-8">カラム8</div>
        <div class="col-md-4">カラム4</div>
      </div>

      <h1>カラム＆オフセット</h1>
      <div class="row">
        <div class="col-md-4">カラム4</div>
        <div class="col-md-4 col-md-offset-4">カラム4 オフセット4</div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-3">カラム3 オフセット3</div>
        <div class="col-md-3 col-md-offset-3">カラム3 オフセット3</div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">カラム6 オフセット3</div>
      </div>

      <h1>カラム＆プッシュ＆プル</h1>
      <div class="row">
        <div class="col-md-9 col-md-push-3">カラム9 プッシュ3</div>
        <div class="col-md-3 col-md-pull-9">カラム3 プル9</div>
      </div>
    </div>

    <div id="news" class="container">
      <div class="box top">
        <div class="row">
          <div class="col-md-8">
            <h2>わさわさ</h2>
            <p>
              <span class="label label-info">Default</span>
              <h3>さわさわさわさわ</h3>
            </p>
          </div>
          <div class="col-md-4">
            col4contents
          </div>
        </div>
      </div>
    </div>

    <div id="time" class="container">
      <div class="box">
        <div class="row">
          <div class="col-md-4">
            col4contents
          </div>
          <div class="col-md-8">
            col8contents
          </div>
        </div>
      </div>
    </div>

    <div id="service" class="container">
      <div class="box bottom center">
        <div class="row">
          <div class="col-md-4">
            <h1>なんとかかんとか</h1>
            <p>なにがしなにがし</p>
          </div>
          <div class="col-md-4">
            <h1>なんやかんや</h1>
            <p>なにがしなにがし</p>
          </div>
          <div class="col-md-4">
            <h1>あれやこれや</h1>
            <p>なにがしなにがし</p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
